.App {
    background-image: url('../src/app/assets/img/HoodedMeekndLowly.JPEG'); /* Update the path accordingly */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

body {
  font-family: 'Lato';
  background-color: #000000;
}

#bodyStyle {
  height: 1080;
  width: 1080 
}

.site-footer {
  padding: 10px 0;
  margin-top: 1rem;
  color: white;
  text-align: center;
}

.site-homepage {
  text-align: center;
}